/* width  eu controlo o texto para o lado*/

body{
    margin: 0;
}
/* controle de margem para os textos gerais */
h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 0px;
}

h3{
    margin-top: 0px;
}

header{
    background-color: rgb(119, 0, 255);
    height: 45px;
    font-size: 30px;
    font-family: ;
}

.subtitleprincipal{
    font-size:25px;
    font-family: ;
    background-color: blue;
    margin: 0;
}

.principalquestion{
    background-color: cyan;
}

.start{
    font-size: 20px;
    background-color: chocolate;
}

/* Novel */
.Novel h3{
    font-size: 20px;
}
.Novel img{
    display:block;
}
.Novel p{
    font-size: 10px;
}
/* Mangá */
.Manga h3{
    font-size: 20px;
}
.Manga img{
    display:block;
}
.Manga p{
    font-size: 10px;
}
/* Manhwa */
.Manhwa h3{
    font-size: 20px;
}
.Manhwa img{
    display: block;
}
.Manhwa p{
    font-size: 10px;
}
/* Anime */
.Anime h3{
    font-size: 20px;
}
.Anime img{
    display: block;
}
.Anime p{
    font-size: 10px;
}